---
layout: default
---

<section class="posts">

<section class="post" style="padding: 0;">
{% for post in site.tags.pinned %}
<h2><a href="{{post.url}}" style="text-decoration: none;">{{ post.title }} <span style="float: right;">📌</span></a></h2>
<span class="meta" style="margin:0 0 32px 0;"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></span>
{{ post.content }}
{% endfor %}
</section>

<hr />

<h2>recent posts</h2>

<ul id="posts-container">
{% for post in site.posts | limit: 5 %}
<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%m-%d-%Y" }}</time></li>
{% endfor %}
<li>
<a href="/posts">more...</a>
</li>
</ul>

<p style="text-align: right;">tags: 
{% for tag in site.tags %}
  {% assign t = tag | first %}
  <a href="/tag/{{t}}">{{t}}</a>
{% endfor %}
</p>

</section>

