nav {
    transition: top .3s ease-in;
}
.open {
    transition: top .6s ease-out;
    top: 0;
}

.bracket {
    transition: all .4s ease-out;
    display: inline-block;
}

.bracketHoverLeft {
    margin-right: 5px;
}
.bracketHoverRight {
    margin-left: 5px;
}

.bracketSpinLeft, .bracketSpinRight {
    transition: transform .7s ease-out, margin .4 ease-out;
}
.bracketSpinLeft {
    transform: rotate(360deg);
}
.bracketSpinRight {
    transform: rotate(-360deg);
}

div.navButton {
    transition: all .3s;
}
div.openNavButton {
    transition: box-shadow .6s;
    background: none;
}
div.navButtonHover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spin {
    transition: transform .75s ease;
}
.spin:hover {
    transform: rotate(360deg);
}

section {
    transition: filter .3s ease, width 1s ease, height 1s ease;
}
section:hover {
    filter: brightness(1.085);
}

nav ul li a {
    transition: color .3s ease;
}
nav ul li a:hover {
    color: #5a8bcd;
}

div.loading {
    transition: opacity .6s ease;
}
div.doneLoading {
    opacity: 0;
}

h1#snail.animate {
    transition: transform .9s linear;
    transform: rotate(720deg);
}

.noScroll {
    overflow: hidden;
}

main#second {
    transition: all .7s ease-out;
    position: absolute;
    top: 0;
    left: -100%;
}
main#second.flyIn {
    left: 0;
}
